# Ficheros de compilación de AGS
Build/
Logs/
Temp/
Speech/
_Debug
*.wfn
*.spr
*.agslog
*.log

# Configuración local o IDEs
*.suo
*.user
*.userprefs
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db